

<h2>Your character most resembles:</h2>

<h1><%= captain['name'] %></h1>

<img src="<%= captain['image_url'] %>" alt="">

<p class="bio"><%= captain['bio'] %></p>

<a href="/new_session">Retake Quiz</a>


