<header>


</header>

<h1>Captain Select</h1>

<img src="https://vignette.wikia.nocookie.net/bleach/images/9/9b/542True_Zangetsu.png/revision/latest?cb=20170901163924&path-prefix=en" alt="" style="width:300px">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid natus dolorum quia, consequatur, amet numquam esse aperiam doloribus exercitationem eligendi labore, minima temporibus porro. Nobis placeat quo sed magnam!</p>

<ul>
    <li><a href="/captain_questions">Retake Quiz</a></li>
    <li><a href="/logout">Logout</a></li>
</ul>

<footer>


</footer>