<header>


</header>

<h1>Captain Questionnaire</h1>

<form action="" method="post">
    <section class="question">
        <label for="">Question 1:</label>
        <label for="">A</label>
        <input name="question1" type="radio" value="A">
        <label for="">B</label>
        <input name="question1" type="radio" value="B">
        <label for="">C</label>
        <input name="question1" type="radio" value="C">
        <label for="">D</label>
        <input name="question1" type="radio" value="D">
    </section>

    <section class="question">
        <label for="">Question 2:</label>
        <label for="">A</label>
        <input name="question2" type="radio" value="A">
        <label for="">B</label>
        <input name="question2" type="radio" value="B">
        <label for="">C</label>
        <input name="question2" type="radio" value="C">
        <label for="">D</label>
        <input name="question2" type="radio" value="D">
    </section>
    
    <section class="question">
        <label for="">Question 3:</label>
        <label for="">A</label>
        <input name="question3" type="radio" value="A">
        <label for="">B</label>
        <input name="question3" type="radio" value="B">
        <label for="">C</label>
        <input name="question3" type="radio" value="C">
        <label for="">D</label>
        <input name="question3" type="radio" value="D">
    </section>
    
    <section class="question">
        <label for="">Question 4:</label>
        <label for="">A</label>
        <input name="question4" type="radio" value="A">
        <label for="">B</label>
        <input name="question4" type="radio" value="B">
        <label for="">C</label>
        <input name="question4" type="radio" value="C">
        <label for="">D</label>
        <input name="question4" type="radio" value="D">
    </section>
    
    <section class="question">
        <label for="">Question 5:</label>
        <label for="">A</label>
        <input name="question5" type="radio" value="A">
        <label for="">B</label>
        <input name="question5" type="radio" value="B">
        <label for="">C</label>
        <input name="question5" type="radio" value="C">
        <label for="">D</label>
        <input name="question5" type="radio" value="D">
    </section>
    
    <section class="question">
        <label for="">Question 6:</label>
        <label for="">A</label>
        <input name="question6" type="radio" value="A">
        <label for="">B</label>
        <input name="question6" type="radio" value="B">
        <label for="">C</label>
        <input name="question6" type="radio" value="C">
        <label for="">D</label>
        <input name="question6" type="radio" value="D">
    </section>
    
    <section class="question">
        <label for="">Question 7:</label>
        <label for="">A</label>
        <input name="question7" type="radio" value="A">
        <label for="">B</label>
        <input name="question7" type="radio" value="B">
        <label for="">C</label>
        <input name="question7" type="radio" value="C">
        <label for="">D</label>
        <input name="question7" type="radio" value="D">
    </section>

    <section class="question">
        <label for="">Question 8:</label>
        <label for="">A</label>
        <input name="question8" type="radio" value="A">
        <label for="">B</label>
        <input name="question8" type="radio" value="B">
        <label for="">C</label>
        <input name="question8" type="radio" value="C">
        <label for="">D</label>
        <input name="question8" type="radio" value="D">
    </section>

    <section class="question">
        <label for="">Question 9:</label>
        <label for="">A</label>
        <input name="question9" type="radio" value="A">
        <label for="">B</label>
        <input name="question9" type="radio" value="B">
        <label for="">C</label>
        <input name="question9" type="radio" value="C">
        <label for="">D</label>
        <input name="question9" type="radio" value="D">
    </section>

    <section class="question">
        <label for="">Question 10:</label>
        <label for="">A</label>
        <input name="question10" type="radio" value="A">
        <label for="">B</label>
        <input name="question10" type="radio" value="B">
        <label for="">C</label>
        <input name="question10" type="radio" value="C">
        <label for="">D</label>
        <input name="question10" type="radio" value="D">
    </section>
    <button>Submit</button>
</form> 

<footer>


</footer>

