<header>


</header>

<h1>Close Account</h1>

<img src="https://static.zerochan.net/Kurosaki.Ichigo.full.1318067.jpg" alt="" style="width:300px">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid natus dolorum quia, consequatur, amet numquam esse aperiam doloribus exercitationem eligendi labore, minima temporibus porro. Nobis placeat quo sed magnam!</p>

<footer>


</footer>