

<h2>Close Account</h2>

<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/51158316-fd7e-48ca-b5fe-8542e9dfe357/ddycfm3-ca281582-4403-4442-94f3-277471122d28.png/v1/fill/w_1024,h_758,strp/tessai_tsukabishi_employee_of_urahara_shop_by_bodskih_ddycfm3-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03NTgiLCJwYXRoIjoiXC9mXC81MTE1ODMxNi1mZDdlLTQ4Y2EtYjVmZS04NTQyZTlkZmUzNTdcL2RkeWNmbTMtY2EyODE1ODItNDQwMy00NDQyLTk0ZjMtMjc3NDcxMTIyZDI4LnBuZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.8k-HP5j838y7SafrfNHUQ12KUzajmPyBFxM1qIQQASI" alt="">

<div>
    <h2>Sure you won't reconsider???....Sorry to see you go.</h2>
</div>

<form class="other_form" action="/edit" method="post">
      <input type="hidden" name="_method" value="delete" id="">
        <button>SURE !!!</button>
</form>