

<h2>Login</h2>

<form class="other_form" action="/session" method="post">
    <label for="">Username</label>
    <input name="username" type="text">
    <label for="">Password</label>
    <input name="password" type="password">
    <button>Login</button>
</form>

