<header>


</header>

<h1>Login</h1>

<form action="" method="post">
    <label for="">Username</label>
    <input name="username" type="text">
    <label for="">Password</label>
    <input name="password" type="text">
    <button>Login</button>
</form>

<footer>


</footer>