<header>


</header>

<h1>Logout</h1>

<img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/51158316-fd7e-48ca-b5fe-8542e9dfe357/dd9d75a-1310cf5e-aff3-4afa-a1cc-9f9eb13bc665.png/v1/fill/w_922,h_621,strp/kon_by_bodskih_dd9d75a-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD02MjEiLCJwYXRoIjoiXC9mXC81MTE1ODMxNi1mZDdlLTQ4Y2EtYjVmZS04NTQyZTlkZmUzNTdcL2RkOWQ3NWEtMTMxMGNmNWUtYWZmMy00YWZhLWExY2MtOWY5ZWIxM2JjNjY1LnBuZyIsIndpZHRoIjoiPD05MjIifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.OWsG94jSRxRa446KpV0Xr2CtDUGbrDRqxihI6zZh-8w" alt="">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid natus dolorum quia, consequatur, amet numquam esse aperiam doloribus exercitationem eligendi labore, minima temporibus porro. Nobis placeat quo sed magnam!</p>

<footer>


</footer>