<header>


</header>

<h1>Logout</h1>

<img src="https://cdn.hiptoro.com/wp-content/uploads/2020/01/Fans-are-demanding-Bleach-Anime-Return.jpg" alt="" style="width:300px">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et aliquid natus dolorum quia, consequatur, amet numquam esse aperiam doloribus exercitationem eligendi labore, minima temporibus porro. Nobis placeat quo sed magnam!</p>

<footer>


</footer>