
<h2>Captain Questionnaire</h2>

<form class="question_form" action="/user_inputs" method="post">
        <label for="">Question 1: Which is your dominant hand? (left/right)</label>
        <input name="question1" type="text">
        <br>
        <br>
        <br>
        <label for="">Question 2: Which do you prefer? (brains/braun)</label>
        <input name="question2" type="text">
        <br>
        <br>
        <br>
    <button>Submit</button>
</form>