

<h2>Sign Up</h2>

<form class="other_form" action="/users" method="post">
    <label for="">Name</label>
    <input name="name" type="text">
    <label for="">Email</label>
    <input name="email" type="text">
    <label for="">Username</label>
    <input name="username" type="text">
    <label for="">Password</label>
    <input name="password" type="password">
    <button>Sign Up</button>
</form>
