<header>


</header>

<h1>Sign Up</h1>

<form action="" method="post">
    <label for="">Name</label>
    <input name="name" type="text">
    <label for="">Email</label>
    <input name="email" type="text">
    <label for="">Username</label>
    <input name="username" type="text">
    <label for="">Password</label>
    <input name="password" type="text">
    <label for="">Confirm Password</label>
    <input name="same_password" type="text">
    <button>Sign Up</button>
</form>

<footer>


</footer>
